html, body{
    width: 100%;
    height: 100%;
}
.bkg__01{
    width: 100%;
    height: 100%;
    background-image: url("https://github.com/TAEWOOYOON/my_git_portfolio/blob/main/images/JamesWebb_space.jpg?raw=true
");
    background-size: cover;
    background-position: center;
}